<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Browse</title>
  </head>
  <body>
    <div class="page-container">
      <nav>
        <a href="../views/home.html">Home</a>
        <a href="../views/about.html">About Us</a>
        <a href="../views/team.html">Our Team</a>
        <a href="../views/browse.html" id="active">Browse</a>
        <a href="../views/categories.html">Categories</a>
        <a href="../views/partners.html">Our Partners</a>
        <a href="../views/contact.html">Contact</a>
      </nav>

      <main>
        <div class="main-div">
          <div class="main-header">
            <img src="../assets/browse.png" alt="" />
            <h1>Browse</h1>
          </div>

          <p>
            You've made it to the browse page! Use the
            <b>navigation bar</b> above to explore different routes.
          </p>
        </div>
      </main>
    </div>
  </body>
</html>
